@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-centralsys-bg text-centralsys-secondary antialiased font-sans;
    margin: 0;
    min-height: 100vh;
  }
}

#root {
  width: 100%;
}